<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- //임현주 담당 마이페이지 전용 xml -->
<!-- 멥퍼 경로 잘못설정되면 . jsp뷰 부분에서도 에러남. -->
<mapper namespace="com.tech.booksajo.mypage.mapper.mypageMapper">
	<!-- <select id="getList" resultType="map"> select * from book </select> -->

	<select id="userinfo" resultType="map">
		select user_id,
		user_nickname,
		user_gender,
		user_age,
		user_name,
		user_phone,
		user_addr,
		user_email,
		user_date,
		user_mailcheck,
		user_verification,
		user_check,
		user_point,
		user_coupon,
		user_birthday,
		user_sms_agree,
		user_email_agree,
		user_private_agree
		from bsjusers where user_id=#{param1}
	</select>

	<!-- WARN : org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver 
		- Failed to read HTTP message: org.springframework.http.converter.HttpMessageNotReadableException: 
		Required request body is missing: public java.util.List<java.util.Map<java.lang.String, 
		java.lang.Object>> com.tech.booksajo.mypage.api.MypageController.mypageuser(java.util.Map<java.lang.String, 
		java.lang.Object>) -->

	<select id="userinfotop" resultType="com.tech.booksajo.mypage.vo.Myinfomation">
		select user_id,
		user_nickname,
		user_verification,
		user_check,
		user_point,
		user_coupon
		from bsjusers where user_id=#{param1}
	</select>


	<select id="getcolleclist" resultType="map">
		select
		collection_id,
		myline_title,
		isbn,
		page,
		line,
		bookline,
		myline
		from bsjcollecter where user_id=#{param1}
	</select>


	<insert id="addcolleclist" parameterType="map">
		insert into bsjcollecter
		values(id_seq.nextval,#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param1})
	</insert>


	<delete id="deletecollect" parameterType="map">
		delete from bsjcollecter where user_id=#{param1} and isbn=#{param2}
	</delete>


</mapper>