<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.tech.booksajo.faq.mapper.FaqMapper">

	<select id="faqlist" resultType="com.tech.booksajo.faq.vo.FaqDto">
		SELECT * FROM FAQ ORDER BY F_ID DESC
	</select>
	
	<update id="faqreply">
		UPDATE FAQ SET F_REPLY_CONTENT=#{param2}
			WHERE F_ID=#{param1}
	</update>
	
	<insert id="faqwrite">
		INSERT INTO FAQ VALUES(FAQ_ID_SEQ.NEXTVAL,
		'관리자',#{param2},NULL,SYSDATE,'master')
	</insert>
	
	<delete id="faqdelete">
		DELETE FROM FAQ WHERE F_ID=#{param1}
	</delete>
	
</mapper>